<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anole.infrastructure.dao.AnoleUserProjectMapMapper">
  <resultMap id="BaseResultMap" type="org.anole.infrastructure.model.AnoleUserProjectMap">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Username" jdbcType="VARCHAR" property="username" />
    <result column="Project" jdbcType="VARCHAR" property="project" />
    <result column="Env" jdbcType="VARCHAR" property="env" />
    <result column="Role" jdbcType="TINYINT" property="role" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  



</mapper>