<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anole.infrastructure.dao.AnoleEnvironmentMapper">
  <resultMap id="BaseResultMap" type="org.anole.infrastructure.model.AnoleEnvironment">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="LastOperator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="Description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  
  <!-- Manual methods -->
  
  
</mapper>