<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anole.infrastructure.dao.AnoleConfigMapper"> 
  
  <!-- Custom methods-->
  <select id="selectByConfigKey" parameterType="map" resultMap="BaseResultMap">
    select Id, `Key`, `Type`, Creator, LastOperator, Project, CreateTime, UpdateTime,
    Description
    from anole_config
    where `Key` = #{key,jdbcType=VARCHAR} 
  </select>
  
  <select id="selectConfigsByUpdatedTime" resultMap="BaseResultMap">
    select Id, `Key`, `Type`, Creator, LastOperator, Project, CreateTime, UpdateTime, 
    Description
    from anole_config
    where
    `UpdateTime` > #{updateTime, jdbcType=TIMESTAMP}
    limit 0, 500
  </select>
   
</mapper>