<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.anole.infrastructure.dao.AnoleConfigItemMapper" > 
  
  <!-- Custom methods -->
  <select id="selectByConfigKeyAndEnv" resultMap="BaseResultMap" parameterType="map" >
    select Id, `Key`, EnvName, LastOperator, CreateTime, UpdateTime, `Value`
    from anole_config_item
    where `Key` = #{key,jdbcType=VARCHAR}
    AND 
    EnvName = #{env, jdbcType=VARCHAR} 
  </select> 
  <update id="updateByKeyAndEnv" parameterType="org.anole.infrastructure.model.AnoleConfigItem" >
    update anole_config_item
    set
      `LastOperator` = #{lastOperator,jdbcType=VARCHAR},  
      `Value` = #{value,jdbcType=LONGVARCHAR},
      `UpdateTime` = #{updateTime, jdbcType=TIMESTAMP}
    where 
      `Key` = #{key,jdbcType=VARCHAR}
    AND
      `EnvName` = #{envName,jdbcType=VARCHAR} 
  </update>
  
  <select id="selectConfigItemsByUpdatedTime" resultMap="BaseResultMap">
    select Id, `Key`, EnvName, LastOperator, CreateTime, UpdateTime, `Value`
    from anole_config_item
    Where
    `UpdateTime` >= #{updateTime, jdbcType=TIMESTAMP}
  </select>
  
  <select id="selectByConfigKey" resultMap="BaseResultMap" parameterType="map" >
    select Id, `Key`, EnvName, LastOperator, CreateTime, UpdateTime, `Value`
    from anole_config_item
    where `Key` = #{key,jdbcType=VARCHAR}
  </select> 
  
  
  
</mapper>