<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anole.infrastructure.dao.AnoleUserMapper"> 
  
   <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select Id, Username, `Password`, CreateTime, UpdateTime
    from anole_user
    where Username = #{username,jdbcType=VARCHAR}
  </select>
  
</mapper>