<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern=" %d{yy-MM-dd HH:mm:ss.SSS} %c{2} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <root level="info">
            <AppenderRef ref="${a:log4j.target.appender}" />
        </root>
    </Loggers>
</Configuration>