<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anole.infrastructure.dao.AnoleProjectMapper">
  <resultMap id="BaseResultMap" type="org.anole.infrastructure.model.AnoleProject">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="ProductLine" jdbcType="VARCHAR" property="productLine" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Creator" jdbcType="VARCHAR" property="creator" />
    <result column="Owner" jdbcType="VARCHAR" property="owner" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="Description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from anole_project
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.anole.infrastructure.model.AnoleProject">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into anole_project (ProductLine, `Name`, Creator, 
      `Owner`, CreateTime, UpdateTime, 
      Description)
    values (#{productLine,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{owner,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.anole.infrastructure.model.AnoleProject">
    update anole_project
    set ProductLine = #{productLine,jdbcType=VARCHAR},
      `Name` = #{name,jdbcType=VARCHAR},
      Creator = #{creator,jdbcType=VARCHAR},
      `Owner` = #{owner,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      Description = #{description,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select Id, ProductLine, `Name`, Creator, `Owner`, CreateTime, UpdateTime, Description
    from anole_project
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Id, ProductLine, `Name`, Creator, `Owner`, CreateTime, UpdateTime, Description
    from anole_project
  </select>
</mapper>