<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anole.infrastructure.dao.AnoleConfigMapper">
  <resultMap id="BaseResultMap" type="org.anole.infrastructure.model.AnoleConfig">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Key" jdbcType="VARCHAR" property="key" />
    <result column="Type" jdbcType="TINYINT" property="type" />
    <result column="Creator" jdbcType="VARCHAR" property="creator" />
    <result column="LastOperator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="Project" jdbcType="VARCHAR" property="project" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="Description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from anole_config
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.anole.infrastructure.model.AnoleConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into anole_config (`Key`, `Type`, Creator, 
      LastOperator, Project, CreateTime, 
      UpdateTime, Description)
    values (#{key,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, 
      #{lastOperator,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.anole.infrastructure.model.AnoleConfig">
    update anole_config
    set `Key` = #{key,jdbcType=VARCHAR},
      `Type` = #{type,jdbcType=TINYINT},
      Creator = #{creator,jdbcType=VARCHAR},
      LastOperator = #{lastOperator,jdbcType=VARCHAR},
      Project = #{project,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      Description = #{description,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select Id, `Key`, `Type`, Creator, LastOperator, Project, CreateTime, UpdateTime, 
    Description
    from anole_config
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Id, `Key`, `Type`, Creator, LastOperator, Project, CreateTime, UpdateTime, 
    Description
    from anole_config
  </select>
</mapper>