<md-dialog class="config_dialog" aria-label="{{self.config_detail_desc}}"  ng-cloak ng-app="anoleConsoleApp">
  <form  ng-controller="ProjectSearchController as self">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{self.config_detail_desc}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content"> 
        <div class="config_detail_item" style="line-height: 50px; ">
        	<div class="inline label" >
        		<label>key:</label>
        	</div>
        	<div class="inline detail_v" >
        		<label>{{self.currentConfig.key}}</label>
        	</div>
        </div> 
        <div class="config_detail_item"  style="line-height: 70px;">
        	<div class="inline label"  >
        		<label  style="height: 40px; line-height: 40px;">{{self.text_desc}}:</label>
        	</div>
        	<div class="inline detail_v"> 
        		<label>{{self.currentConfig.desc}}</label>
        	</div>
        </div>
        <div class="config_detail_item"  style="line-height: 40px;">
        	<div class="inline label"  >
        		<label  >{{self.text_env}}:</label>
        	</div>
        	<div class="inline detail_v"> 
        		<label >{{self.currentEnv}}</label> 
        	</div>
        </div>
        <div class="config_detail_item" style="line-height: 50px;">
        	<div class="inline label"  >
        		<label >{{self.text_type}}:</label>
        	</div> 
        	<div class="inline detail_v"  >  
        		<label>{{self.currentConfig.type}}</label>
        	</div>
        </div> 
        <div class="config_detail_item"  style="line-height: 120px; height: 120px;">
        	<div class="inline label"  >
        		<label>{{self.config_value_desc}}:</label>
        	</div>
        	<div class="inline detail_v"> 
        	  	<label>{{self.currentConfig.value}}</label> 
        	</div>
        </div> 
        <div  style="height:50px;width:100%;margin-top:10px;margin-bottom:10px">
        		 <md-button class="md-raised md-primary" style="float: right; width: 200px;" ng-click="cancel()" >{{self.text_confirm}}</md-button>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>