<md-dialog class="config_dialog" aria-label="{{self.config_edit_desc}}"  ng-cloak ng-app="anoleConsoleApp">
  <form  ng-controller="ProjectSearchController as self">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{self.config_edit_desc}}-{{self.currentProject.projectName}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content"> 
        <div class="config_detail_item" style="line-height: 50px; ">
        	<div class="inline label" >
        		<label>key:</label>
        	</div>
        	<div class="inline detail_v" >
        		<label>{{self.currentConfig.key}}</label>
        	</div>
        </div> 
        <div class="config_detail_item"  style="line-height: 70px;">
        	<div class="inline label"  >
        		<label  style="height: 40px; line-height: 40px;">{{self.text_desc}}:</label>
        	</div>
        	<div class="inline detail_v"> 
        		<textarea class="desc" rows="3" cols="47" title="{{self.config_desc_note}}" ng-model="self.currentConfig.desc"></textarea> 
        	</div>
        </div>
        <div class="config_detail_item"  style="line-height: 40px;">
        	<div class="inline label"  >
        		<label  >{{self.text_env}}:</label>
        	</div>
        	<div class="inline detail_v"> 
        		<label >{{self.currentEnv}}</label>
        		<span style="margin-left:200px;display:inline-block"><input type="checkbox" id="checkbox1" style="width:20px;height:20px;vertical-align: middle;" ng-model="self.allEnvEnabled"><label for="checkbox1" style="vertical-align: middle;">{{self.all_env_desc}}</label></span>	
        	</div>
        </div>
        <div class="config_detail_item" style="line-height: 50px;">
        	<div class="inline label"  >
        		<label >{{self.text_type}}:</label>
        	</div> 
        	<div class="inline detail_v"  >  
        		<select ng-model="self.currentConfig.type" ng-options="type.value as type.type for type in self.types" style="height:35px;width:400px"> 
				</select>
        	</div>
        </div> 
        <div class="config_detail_item"  style="line-height: 120px; height: 120px;">
        	<div class="inline label"  >
        		<label>{{self.config_value_desc}}:</label>
        	</div>
        	<div class="inline detail_v"> 
        	  	<textarea class="desc" rows="5" cols="47" ng-model="self.currentConfig.value"></textarea> 
        	</div>
        </div>
         <div class="config_detail_item">
             <div class="{{self.add_config_result_display}}">
            	<div style="display:inline-block;width:450px;height:30px;line-height:30px;vertical-align: middle;">{{self.add_config_result}}</div>
            	<div style="display:inline-block; height:30px;vertical-align:middle;cursor:pointer" ng-click="hiddenError('add_config')"><img src="/img/icons/ic_close_24px.svg" style="width:100%;height:100%" /></div>
            </div>
         </div>
        <div style="height:50px;width:100%;margin-top:10px;margin-bottom:10px">
        		<md-button class="md-raised md-primary" style="float: right; width: 200px;" ng-click="modifyConfig($event)">{{self.text_update_desc}}</md-button>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>