<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">

	<Properties>
		<Property name="logfile.path"></Property>
		<Property name="logfile.arch.path">/${date:yyyy-MM}</Property>
		<Property name="logfile.arch.suffix">%d{yyyy-MM-dd}-%i.log.gz</Property>
		<Property name="logfile.pattern">%d{HH:mm:ss.SSS} &lt;%c&gt; %5p [%t]: %m%n</Property>
		<Property name="timestamp.pattern">%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+0}</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${logfile.pattern}"/>
		</Console>
		<Console name="STDERR" target="SYSTEM_ERR">
			<PatternLayout pattern="${logfile.pattern}"/>
		</Console>
		<RollingRandomAccessFile name="SERVICE_LOG_FILE" fileName="${logfile.path}/service.log"
								 filePattern="${logfile.arch.path}/stat-${logfile.arch.suffix}">
			<PatternLayout pattern="${logfile.pattern}"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="GATHER_LOG_FILE" fileName="${logfile.path}/gather.log"
                                 filePattern="${logfile.arch.path}/gather-${logfile.arch.suffix}">
            <PatternLayout pattern="${logfile.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy />
        </RollingRandomAccessFile>
	</Appenders>
	
	<Loggers>
		<!-- Root Logger -->
		<Root level="INFO">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="SERVICE_LOG_FILE" />
		</Root> 
	</Loggers>
</Configuration>
