body{
	margin: 0px;
	font-family: "微软雅黑";
}
a{
	text-decoration: blink;
}
.titleblack{
	color: #333333;
}
input,select,button,textarea{
	font-family: "微软雅黑";
}
input{
	padding-left: 14px;
	border-radius: 4px;
	border:1px solid #888888;
}
div.overlay{
	overflow: hidden;
	word-break:break-all;
}
textarea{
	border-radius: 4px;
} 
 

div{
	overflow: hidden;
	display: block;
} 
div.button{
	cursor: pointer;
}

div.inline{
	display: inline-block;
}
div.nav-bar{ 
	width: 100%;
	min-width: 1200px;
	height: 50px;
	background-color: #EEE9BF;
	position: fixed;
	border-bottom: 1px solid #9C9C9C;
} 
div.anole-name-container{
	float: left;
	display: inline-block;
	min-width: 340px; 
	width: 30%;
	height: 100%;
}
div.anole-name{ 
	margin-left: 20px;   
	line-height: 50px;
	font-size: 25px;
	color: #515151;  
} 
div.anole-name-en{ 
	margin-left: 20px;   
	line-height: 50px;
	font-size: 17px;
	color: #515151;  
} 
div.anole-project-search-box-container{
	min-width: 450px; 
	width:40%;
	margin:auto;
	margin-top: 4px;
	display: inline-block; 
}
div.anole-project-search-box{
	width: 450px;  
	margin:auto;   
	border-radius: 6px;
	border: 1px solid #CDC9A5; 
}
div.nav-right-container{
	float: right; 
	display: inline-block;
	min-width: 340px;
	width: 30%;
}
div.nav-right{   
	margin-right: 20px;   
	line-height: 50px;
	font-size: 17px;
	color: #515151; 
	margin-left: 100px;
}

div.nav-right-item{  
	display: inline-block;
	float: left;
}


div.project-searcher-container{ 
	width:300px;
	margin:auto;  
	margin-top:7px;
}
div.project-searcher-container select{
	width:100%; 
	height: 35px;
	border-radius: 3px;
}

div.body{ 
	width: 1200px;
	margin: auto;
	overflow: hidden;
	min-height: 650px;
}

div.body-item{
	width: 1150px;
	margin: auto;
	overflow: hidden; 
}

div.body-item div{
	display: inline-block;
}

div.body-item div.title{
	width:15%;
	min-width: 150px;
}

.border-bottom{
	border-bottom: 1px solid #ddd;
}

div.env-item{
	width: 90px;
	text-align: center;
	margin-left: 5px;
	margin-right:5px ;
	height: 30px; 
	line-height: 30px;
	display: inline-block;
	font-weight: bolder;
	cursor: pointer;
	border-radius: 4px;
}
div.env-item-false{ 
	border: 1px solid #EED8AE;
	background-color: #EED8AE;
}
div.env-item-true{ 
	border: 1px solid #111111;
	background-color: #EEB422;
}

/*div.env-item-0{ 
	border: 1px solid #EEEEE0;
	background-color: #EEEEE0;
}

div.env-item-1{ 
	border: 1px solid #EED8AE;
	background-color: #EED8AE;
}

div.env-item-2{ 
	border: 1px solid #EEB422;
	background-color: #EEB422;
}

div.env-item-3{ 
	border: 1px solid #EE9A00;
	background-color: #EE9A00;
}

div.env-item-4{ 
	border: 1px solid #EE7942;
	background-color: #EE7942;
}

div.env-item-5{ 
	border: 1px solid #EE6A50;
	background-color: #EE6A50;
}

div.env-item-6{ 
	border: 1px solid #EE4000;
	background-color: #EE4000;
}

div.env-item-7{ 
	border: 1px solid #EE2C2C;
	background-color: #EE2C2C;
}*/


div.result-list{
	
}


div.result-item{
    display: inline-block;
    text-align: center; 
    height: 45px;
    line-height: 40px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.tail{
	height: 300px;
	width: 1200px;
	margin: auto;
	text-align: center;
	border-top: 1px solid #CDC9A5;
	margin-top: 100px;
}

input.outsearch{ 
    border: 1.5px solid #333;
    border-radius: 4px; 
    width: 300px;
    height: 35px;
    padding-left: 10px;
}


input.insearch{ 
    border: 1.5px solid #333;
    border-radius: 4px; 
    width: 200px;
    height: 30px;
    padding-left: 10px;
}
md-select-menu md-content {
	border:1px solid #BDBDBD;
	border-radius: 3px;
}
md-select-value{
	text-align: center;
	line-height: 36px;
}
img.icon_for_list_item{
	 width: 20px;
	 height: 20px;
	 margin-right: 5px;    
	 vertical-align: middle;
	 cursor: pointer;
}

md-dialog.admin_desk{
	width:680px;
	height: 550px;
}
div.add_project{
	
}
div.add_project_item{	
	width:100%; 
	margin-top:10px;
	margin-bottom: 10px;
}
div.add_project_item div.label{	
	width:25%; 
	display: inline-block;
	text-align: center;
	height:46px;
	line-height: 46px;
}
div.add_project_item  div.ac_input{
	border: 1px solid #888888;
	width: 230px;
	border-radius: 4px;
	height: 40px;
}

div.add_project_item div.ac_input md-autocomplete-wrap input{ 
	height: 40px;
}

div.add_project_item div.input{	
	width: 240px;
	display: inline-block;
	height: 40px;
}
div.add_project_item div.input input{	
	height: 34px;
	width: 224px;
}
md-content.md-padding h1{
	border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top:5px;
}

div.add_user_item{	
	width:100%; 
	margin-top:10px;
	margin-bottom: 10px; 
}
div.add_user_item div.label{	
	width:25%; 
	display: inline-block;
	text-align: center;
	height:40px;
	line-height: 40px;
}

div.add_user_item div.input{	
	width:60%; 
	display: inline-block;
	height:40px;
}
div.add_user_item div.input input.add_user{	
	height: 36px;
}


div.auth_manage_item{	
	width:100%;  
	margin-bottom: 10px;
}
div.auth_manage_item div.label{	
	width:25%; 
	display: inline-block;
	text-align: center;
	height:40px;
	line-height: 40px;
}

div.auth_manage_item div.input{	
	width:60%; 
	display: inline-block;
	height:40px;
	border: 1px solid #888888;
	border-radius: 4px; 
} 
div.auth_manage_item div.no_border_input{	
	width:60%; 
	display: inline-block;
	height:42px; 
} 

div.auth_manage_item div select{	
	height: 40px;
} 



div.login_item{
	width:100%;
	height: 35px; 
	margin-bottom: 20px;
	margin-top: 20px;
}
div.login_item div.label{
	width:100px;
	height: 35px;
	line-height: 35px; 
}

md-dialog.config_dialog{
	width:560px;
	height:600px;
	padding-bottom: 30px;
}
 
div.config_detail_item{
	width:650px; 
}
  
div.config_detail_item div.label{
	width:100px; 
}

div.config_detail_item div.detail_v{
	width:400px
}

  
div.config_detail_item  input.text{ 
	width: 96%;
	border-radius: 3px;
	border: 1px solid #515151;
	height: 45px;
	font-family: "微软雅黑";
}

div.config_detail_item textarea{  
	font-family: "微软雅黑";
}

div.config_detail_item div.detail_v select{ 
	width: 200px;
	border-radius: 3px;
	border: 1px solid #515151; 
	font-family: "微软雅黑";
}

div.config_detail_item div.detail_v label{ 
	width: 98%;
	height: 100%; 
}

md-dialog-content{
	overflow: hidden !important ; 
}

div.error_hidden{
	display:none;
}
div.error_show_error{
	display:block;
	color: red;
}
div.error_show_success{
	display:block;
	color: green;
}
div.error_text{
	display:inline-block;
	width:600px;
}
div.error_img{
	display:inline-block;
	float:right;
	margin-right:20px;
	cursor:pointer;
}

input#checkbox1, input#checkbox2{
	
}


div.enter_button{
    background: none repeat scroll 0 0 #eee9bf;
    text-align: center;
    height: 38px;
    border-width: 0;
    line-height: 38px;
   	border: 1px solid #333;
    font-size: 17px;
    color: rgb(148, 143, 143);
    font-weight: bolder;
    border-radius: 6px;
    cursor: pointer;  
}