<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	">  
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.mariadb.jdbc.Driver"></property>
		<property name="url" value="${jdbc.connectionString}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="validationQuery" value ="SELECT 1"></property>
		<property name="testWhileIdle" value ="true"></property>
		<property name="timeBetweenEvictionRunsMillis" value ="3600000"></property>
		<property name="minEvictableIdleTimeMillis" value ="18000000"></property>
		<property name="testOnBorrow" value ="true"></property>
		<property name="initialSize" value="5"/>
		<property name = "maxActive" value="20" />
	</bean>
	
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
       <property name="dataSource" ref="dataSource" />  
       <property name="configLocation" value="classpath:sqlMap/sqlmap-main.xml"/>  
       <property name="typeAliasesPackage" value="org.anole.infrastructure.model" />   
    </bean>   
    
	<!-- 扫描Mapper，会对扫描到的DAO接口自动生成 小写开头的同名 Bean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       <property name ="sqlSessionFactoryBeanName" value="sessionFactory" />
       <property name="basePackage" value="org.anole.infrastructure.dao" /> 
    </bean>
	
	
	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->  
    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
    
    <!-- 可通过注解控制事务  -->  
    <tx:annotation-driven /> 
	
	<!-- 事务  -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
	        <tx:method name="*" propagation="REQUIRED" />
	    </tx:attributes>
	</tx:advice>
	
	<!-- 为所有DAO方法添加事务操作--> 
	<aop:config>
	     <aop:pointcut expression="execution(* org.anole.infrastructure.dao.*Mapper.*(..))" id="allDaoMethod"/>
	     <aop:advisor advice-ref="txAdvice" pointcut-ref="allDaoMethod"/>
	</aop:config> 
	 
	<!-- 使用Spring 非检查型数据访问异常
 	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
     -->

</beans> 